.main_Preguntas {
  &_Formulario {
    width: 90vw;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;
  }
  &_Maps {
    align-items: center;
    margin-left: 30vw;
    width: 40vw;
  }
}

input {
  background-color: #fbfbfb;
  width: 70vw;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 70vw;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

.main_Preguntas_Formulario-Button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 30vw;
  cursor: pointer;
}

span {
  color: #ab4493;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

p {
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
  width: 100vw;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}
@media (min-width: 992px) {
  .main_Preguntas {
    display: flex;
    height: 100vh;
    &_Maps {
      align-items: center;
      margin-left: 3%;
      margin-top: 20vh;
      width: 40vw;
    }
    &_Formulario {
      width: 27vw;
    }
  }
  input {
    width: 20vw;
  }
  textarea {
    width: 20vw;
  }
  .main_Preguntas_Formulario-Button {
    width: 22vw;
  }
}