.main_Porfolio__section-img {
    width: 95vw;
  }
  .section__Porfolio {
    background: #a11cfa;
    background: linear-gradient(
      90deg,
      #a11cfa 0%,
      rgba(94, 54, 238, 0.432) 35%,
      rgba(0, 26, 255, 0.685) 100%
    );
  }
  @media (min-width: 992px) {
    .main_Porfolio__section-img {
        width: 100%;
      }
  }  