@media (min-width: 992px) {
    .main_Preguntas {
        background: #a11cfa;
        background: linear-gradient(
          90deg,
          #a11cfa 0%,
          rgba(94, 54, 238, 0.432) 35%,
          rgba(0, 26, 255, 0.685) 100%
        );
        height: 75vh;
        &_Maps{
          align-items: center;
          margin-left: 3%;
          margin-top: 3vh;
        }
      }
}