.main__precios {
    text-align: center;
    &-section-img1,
    &-section-img2 {
      width: 100%;
    }
  }
  @media (min-width: 992px) {
    .main__precios {
        height: 185vh;
        &-section-img1 {
          height: 100vh;
          width: 47vw;
        }
        &-section-img2 {
          height: 80vh;
          width: 32vw;
        }
      }
  }
